<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="newDataModelerProjectConfigurationPage" name="New DataModeler Project ConfigurationPage" schema="schema/newDataModelerProjectConfigurationPage.exsd"/>
   <extension-point id="dataModelerNavigatorLabelProvider" name="DataModeler Navigator Label Provider" schema="schema/dataModelerNavigatorLabelProvider.exsd"/>
   <extension-point id="importWizards" name="Import Wizards" schema="schema/importWizards.exsd"/>
   <extension-point id="exportWizards" name="Export Wizards" schema="schema/exportWizards.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.isb.datamodeler.internal.ui.perspectives.DataModelerPerspective"
            id="com.isb.datamodeler.internal.ui.perspectives.DataModelerPerspective"
            icon="icons/full/obj16/datamodelerPrespective.png"
            name="%DataModelerPerspective.label">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.isb.datamodeler.internal.ui.perspectives.DataModelerPerspective">
         <view
               closeable="true"
               id="com.isb.datamodeler.internal.ui.views.DataModelerView"
               minimized="false"
               moveable="true"
               ratio="0.20"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.ResourceNavigator"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="com.isb.datamodeler.internal.ui.views.DataModelerView"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.PropertySheet"
               minimized="false"
               moveable="true"
               ratio="0.70"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.ui.views.TaskList"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <view
               closeable="true"
               id="org.eclipse.pde.runtime.LogView"
               minimized="false"
               moveable="true"
               relationship="stack"
               relative="org.eclipse.ui.views.PropertySheet"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
         <viewShortcut
               id="com.isb.datamodeler.internal.ui.views.DataModelerView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.isb.datamodeler.category"
            name="%DataModelerViewCategory.label">
      </category>
      <view
            category="com.isb.datamodeler.category"
            class="com.isb.datamodeler.internal.ui.views.DataModelerView"
            id="com.isb.datamodeler.internal.ui.views.DataModelerView"
            icon="icons/full/obj16/datamodelerView.png"
            name="%DataModelerNavigator.label">
      </view>
  	  <view
	  		category="com.isb.datamodeler.category"
	  		class="com.isb.datamodeler.internal.ui.views.DataModelerValidationView"
     		icon="icons/cview/navigator.gif"
	 		id="com.isb.datamodeler.internal.ui.views.DataModelerValidationView"
	  		name="%DataModelerValidationView.name">
	</view>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="com.isb.datamodeler.internal.ui.views.DataModelerView">
         <includes>
            <contentExtension pattern="com.isb.datamodeler.ui.diagram.domainResourceContent">
            </contentExtension>
            <contentExtension
                  pattern="com.isb.datamodeler.ui.navigator.filters.workingSet">
            </contentExtension>
            <contentExtension
                  pattern="com.isb.datamodeler.ui.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="com.isb.datamodeler.internal.ui.views.DataModelerView">
         <includes>
            <actionExtension
                  pattern="com.isb.datamodeler.ui.navigator.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewer
            viewerId="com.isb.datamodeler.internal.ui.views.DataModelerView">
         <popupMenu
               allowsPlatformContributions="false"
               id="com.isb.datamodeler.internal.ui.views.DataModelerView#PopupMenu">
            <insertionPoint
                  name="group.new"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.reorganize"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.validation"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.port"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="additions"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.compare"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            id="com.isb.datamodeler.ui.diagram.domainResourceContent"
            name="%domainNavigatorContentName"
            priority="normal" 
            contentProvider="com.isb.datamodeler.internal.ui.views.DatamodelerDomainNavigatorContentProvider"
            labelProvider="com.isb.datamodeler.internal.ui.views.DatamodelerDomainNavigatorLabelProvider"
            activeByDefault="true">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </enablement>
         <commonSorter
               class="com.isb.datamodeler.internal.ui.views.DatamodelerCommonSorter"
               id="datamodelerCommonSorter">
            <parentExpression>
               <or>
                  <instanceof
                        value="com.isb.datamodeler.diagram.navigator.DatamodelerDomainNavigatorItem">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
               </or>
            </parentExpression>               
         </commonSorter>
      </navigatorContent>
<!--         
      <navigatorContent
            id="com.isb.datamodeler.ui.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="com.isb.datamodeler.internal.ui.views.DatamodelerDomainNavigatorContentProvider" 
            labelProvider="com.isb.datamodeler.internal.ui.views.DatamodelerDomainNavigatorLabelProvider"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="dm"/>
               </and>
               <instanceof value="com.isb.datamodeler.diagram.navigator.DatamodelerDomainNavigatorItem"/>
               <instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="com.isb.datamodeler.diagram.navigator.DatamodelerDomainNavigatorItem">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="com.isb.datamodeler.internal.ui.views.DatamodelerCommonSorter"
               id="datamodelerCommonSorter">
            <parentExpression>
               <or>
                  <instanceof
                        value="com.isb.datamodeler.diagram.navigator.DatamodelerDomainNavigatorItem">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
-->      
      <commonFilter
            activeByDefault="true"
            class="com.isb.datamodeler.ui.views.DataModelrResourceWorkingSetFilter"
            id="com.isb.datamodeler.ui.navigator.filters.workingSet"
            name="DataModeler WorkingSet Filter">
      </commonFilter>
      <actionProvider
            class="com.isb.datamodeler.internal.ui.views.actions.workingset.DataModelerWorkingSetActionProvider"
            id="com.isb.datamodeler.ui.navigator.WorkingSetActions">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IResource">
               </adapt>
               <adapt
                     type="java.util.Collection">
                  <count
                        value="0">
                  </count>
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.isb.datamodeler.ui.views.workingsets.DataModelerWorkingSetsContentProvider"
            icon="$nl$/icons/full/obj16/workingsets.gif"
            id="com.isb.datamodeler.ui.workingSets"
            labelProvider="com.isb.datamodeler.ui.views.workingsets.DataModelerWorkingSetsLabelProvider"
            name="%Workingsets.extension.name"
            priority="higher">
         <triggerPoints>
            <instanceof value="org.eclipse.ui.IWorkingSet"/>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="java.lang.Object"/>
         </possibleChildren>
         <commonSorter
               class="com.isb.datamodeler.ui.views.workingsets.DataModelerWorkingSetSorter"
               id="com.isb.datamodeler.ui.workingSets.sorter"/>  
      </navigatorContent>
      <actionProvider
            appearsBefore="com.isb.datamodeler.ui.navigator.DataModelerEditActions"
            class="com.isb.datamodeler.internal.ui.views.actions.create.DataModelerNewActionProvider"
            id="com.isb.datamodeler.ui.navigator.DataModelerNewActions">
         <enablement>
            <or>
               <adapt
                     type="java.util.Collection">
                  <count
                        value="0">
                  </count>
               </adapt>
               <instanceof
                     value="com.isb.datamodeler.diagram.navigator.DatamodelerDomainNavigatorItem">
               </instanceof>
               <instanceof
                     value="org.eclipse.ui.IWorkingSet">
               </instanceof></or>
         </enablement>
      </actionProvider>
      <actionProvider
            appearsBefore="com.isb.datamodeler.ui.navigator.DataModelerRefactorActions"
            class="com.isb.datamodeler.internal.ui.views.actions.edit.DataModelerEditActionProvider"
            id="com.isb.datamodeler.ui.navigator.DataModelerEditActions">
         <enablement>
            <instanceof
                  value="com.isb.datamodeler.diagram.navigator.DatamodelerDomainNavigatorItem">
            </instanceof>
         </enablement>
      </actionProvider>
      <actionProvider
            appearsBefore="com.isb.datamodeler.ui.navigator.DataModelerValidationActions"
            class="com.isb.datamodeler.internal.ui.views.actions.refactor.DataModelerRefactorActionProvider"
            id="com.isb.datamodeler.ui.navigator.DataModelerRefactorActions">
         <enablement>
            <instanceof
                  value="com.isb.datamodeler.diagram.navigator.DatamodelerDomainNavigatorItem">
            </instanceof>
         </enablement>
      </actionProvider>
      <actionProvider
            appearsBefore="com.isb.datamodeler.ui.navigator.DataModelerPortActions"
            class="com.isb.datamodeler.internal.ui.views.actions.validation.DataModelerValidationActionProvider"
            id="com.isb.datamodeler.ui.navigator.DataModelerValidationActions">
         <enablement>
            <adapt
                  type="com.isb.datamodeler.ui.project.EProject">
            </adapt>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.isb.datamodeler.internal.ui.views.actions.porting.DataModelerPortActionProvider"
            id="com.isb.datamodeler.ui.navigator.DataModelerPortActions">
         <enablement>
            <or>
               <adapt
                     type="com.isb.datamodeler.ui.project.EProject">
               </adapt>
               <adapt
                     type="com.isb.datamodeler.tables.EPersistentTable">
               </adapt>
               <adapt
                     type="com.isb.datamodeler.schema.ESchema">
               </adapt>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.isb.datamodeler.internal.ui.views.actions.DataModelerUndoRedoActionProvider"
            id="com.isb.datamodeler.ui.navigator.DataModelerUndoRedoActions">
         <enablement>
            <or></or>
         </enablement>
      </actionProvider>
   </extension>
   
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="false"?>
      <GlobalActionHandlerProvider
            class="com.isb.datamodeler.internal.ui.views.actions.DatamodelerGlobalActionHandlerProvider"
            id="DatamodelerGlobalActionHandlerProvider">
         <Priority name="Lowest"/>
         <ViewId id="com.isb.datamodeler.diagram.part.DatamodelerDiagramEditorID">
            <ElementType class="com.isb.datamodeler.diagram.edit.parts.PersistentTableEditPart">
               <GlobalActionId actionId="copy"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>
 <!--  	
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
	  	   id="datamodeler.datamodelerProject.create"
	       targetID="com.isb.datamodeler.internal.ui.views.DataModelerView">
	       
	    <menu label="%DataModelerViewNewGroup" path="group.new" id="new">
	  	   <separator name="groupNew" /> 
	    </menu>
		<action
        class="com.isb.datamodeler.internal.ui.views.actions.CreateDataModelerProjectActionDelegate"
        icon="icons/full/obj16/datamodelerProject.png"
        id="com.isb.datamodeler.internal.ui.views.actions.CreateDataModelerProjectActionDelegate"
        label="%DataModeler.project.create"
        menubarPath="new/groupNew">
		</action>
	  </viewerContribution>
  
	  <objectContribution
	  	   id="datamodeler.datamodelerSchema.create"
	       objectClass="com.isb.datamodeler.diagram.navigator.DatamodelerDomainNavigatorItem">
	    <filter
			name="projectNature"
			value="com.isb.datamodeler.model.core.DataModelerNature">
		</filter>   
	    <menu label="%DataModelerViewNewGroup" path="group.new" id="new">
	  	   <separator name="groupNew" /> 
	    </menu>  
		<action id="com.isb.datamodeler.internal.ui.views.actions.CreateDataModelerSchemaActionDelegate"
        	label="%DataModeler.schema.create"
        	icon="icons/full/obj16/datamodelerSchema.png"
        	menubarPath="new/groupNew"
        	class="com.isb.datamodeler.internal.ui.views.actions.CreateDataModelerSchemaActionDelegate"
        	enablesFor="1">
		</action>
	  </objectContribution>
	  
	  <objectContribution
        id="datamodeler.datamodelerDiagram.create"
        objectClass="com.isb.datamodeler.diagram.navigator.DatamodelerDomainNavigatorItem">
	    <menu label="%DataModelerViewNewGroup" path="group.new" id="new">
	  	   <separator name="groupNew" /> 
	    </menu>
	    <action id="com.isb.datamodeler.internal.ui.views.actions.CreateDataModelerDiagramActionDelegate"
	       label="%DataModeler.diagram.create"
	       icon="icons/full/obj16/Diagram.gif"
	       menubarPath="new/groupNew"
	       class="com.isb.datamodeler.internal.ui.views.actions.CreateDataModelerDiagramActionDelegate"	
	       enablesFor="1">
	    </action>
	 </objectContribution>
   	<objectContribution objectClass="com.isb.datamodeler.diagram.navigator.DatamodelerDomainNavigatorItem" id="datamodeler.datamodelerDiagram.report">	
   	   <menu label="Informes" path="group.reports" id="reports">
  		<separator name="groupReports" /> 
   	   </menu>	
   	   <action
          class="com.isb.datamodeler.internal.ui.views.actions.ModelValidateActionDelegate"
          id="com.isb.datamodeler.internal.ui.views.actions.ModelValidateActionDelegate"
          label="%DMValidationAction.name"
          menubarPath="reports">
   	   </action>
   	 </objectContribution>	  
   	   
   	 <objectContribution objectClass="com.isb.datamodeler.diagram.navigator.DatamodelerDomainNavigatorItem" id="datamodeler.datamodelerDiagram.import">	  
   	   <menu
             id="dmImport"
             label="%ImportEntitiesAction.name"
             path="group.import">
  		<separator name="groupImports" /> 
   	   </menu>
   	   <filter
			name="projectNature"
			value="com.isb.datamodeler.model.core.DataModelerNature">
		</filter> 
	</objectContribution>
	
	<objectContribution objectClass="com.isb.datamodeler.diagram.navigator.DatamodelerDomainNavigatorItem" id="datamodeler.datamodelerDiagram.detect">	
		<filter
			name="projectNature"
			value="com.isb.datamodeler.model.core.DataModelerNature">
		</filter> 
   	   <action
          class="com.isb.datamodeler.internal.ui.views.actions.DetectPossibleRelationsAction"
          id="com.isb.datamodeler.internal.ui.views.actions.DetectPossibleRelationsAction"
          label="%DetectPossibleRelationsAction.name"
          menubarPath="dmImport">
   	   </action>
   	</objectContribution>	
   	 
   	<objectContribution objectClass="com.isb.datamodeler.diagram.navigator.DatamodelerDomainNavigatorItem" id="datamodeler.datamodelerDiagram.edit.paste">	  
   	   <menu label="Edicion" path="group.edit" id="edit">
  		<separator name="groupEdit" /> 
   	   </menu>
   	   
   	   <action
          class="com.isb.datamodeler.internal.ui.views.actions.PasteDataModelerElementAction"
          id="com.isb.datamodeler.internal.ui.views.actions.PasteDataModelerElementAction"
          label="%PasteDataModelerElementAction.name"
          menubarPath="edit">
   	   </action>		
	</objectContribution>	
	
	<objectContribution objectClass="com.isb.datamodeler.diagram.navigator.DatamodelerDomainNavigatorItem" id="datamodeler.datamodelerDiagram.edit.rename">	
   	   <action
        	class="com.isb.datamodeler.internal.ui.views.actions.RenameDataModelerElementAction"
        	id="com.isb.datamodeler.internal.ui.views.actions.RenameDataModelerElementAction"
        	label="%RenameDataModelerElementAction.name"
        	menubarPath="edit">
		</action> 
   	</objectContribution> 
   	
	<objectContribution objectClass="com.isb.datamodeler.diagram.navigator.DatamodelerDomainNavigatorItem" id="datamodeler.datamodelerDiagram.edit.move">	
   	   <action
        	class="com.isb.datamodeler.internal.ui.views.actions.MoveDataModelerElementAction"
        	id="com.isb.datamodeler.internal.ui.views.actions.MoveDataModelerElementAction"
        	label="%MoveDataModelerElementAction.name"
        	menubarPath="edit">
		</action> 
   	</objectContribution> 
   	    	 
	<objectContribution objectClass="com.isb.datamodeler.diagram.navigator.DatamodelerDomainNavigatorItem" id="datamodeler.datamodelerDiagram.edit.copy">	
   	   <action
        	class="com.isb.datamodeler.internal.ui.views.actions.CopyDataModelerElementAction"
        	id="com.isb.datamodeler.internal.ui.views.actions.CopyDataModelerElementAction"
        	label="%CopyDataModelerElementAction.name"
        	menubarPath="edit">
		</action> 
   	</objectContribution>

   </extension>
-->   	
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
         	<image
	  			id="com.isb.datamodeler.ui.datamodelerProjectNatureImage"
	  			natureId="com.isb.datamodeler.model.core.DataModelerNature"
	  			icon="icons/full/obj16/datamodelerProjectNature.png">
			</image>
   </extension>
 <extension
	point="org.eclipse.ui.preferencePages">
	<page
	  name= "%DataModelerPreferencesPage.title"
	  class="com.isb.datamodeler.internal.ui.validation.preferences.DataModelerPreferencesPage"
	  id="com.isb.datamodeler.internal.ui.validation.preferences.DataModelerPreferencesPage">
	</page>
	<page
	  name="%DataModelerPreferencesPage.validations.label"
	  category="com.isb.datamodeler.internal.ui.validation.preferences.DataModelerPreferencesPage"
	  class="com.isb.datamodeler.internal.ui.validation.preferences.ValidationsPreferencePage"
	  id="com.isb.datamodeler.internal.ui.validation.preferences.ConstraintsPreferencePage">
	</page>
</extension>
 <extension
       point="org.eclipse.ui.editorActions">
    <editorContribution
          id="com.isb.datamodeler.internal.ui.editorActions.columnDecorators"
          targetID="com.isb.datamodeler.diagram.part.DatamodelerDiagramEditorID">
       <action
             class="com.isb.datamodeler.internal.ui.views.actions.ColumnLabelShortDecoratorActionDelegate"
             icon="icons/full/obj16/hideLabel.png"
             id="com.isb.datamodeler.internal.ui.views.actions.HideColumnDecoratorsAction"
             label="%ColumnDecorators.Short.Label"
             style="push"
             toolbarPath="columnDecoratorGroup"
             tooltip="%ColumnDecorators.Short.Tooltip">
       </action>
       <action
             class="com.isb.datamodeler.internal.ui.views.actions.ColumnLabelLongDecoratorActionDelegate"
             icon="icons/full/obj16/label.png"
             id="com.isb.datamodeler.internal.ui.views.actions.ShowColumnDecoratorsAction"
             label="%ColumnDecorators.Long.Label"
             style="push"
             toolbarPath="columnDecoratorGroup"
             tooltip="%ColumnDecorators.Long.Tooltip">
       </action>
    </editorContribution>
 </extension>
 <extension
       point="org.eclipse.ui.workingSets">
    <workingSet
          elementAdapterClass="com.isb.datamodeler.ui.views.workingsets.DataModelerWorkingSetAdapter"
          icon="icons/full/obj16/datamodelerProject.png"
          id=" com.isb.datamodeler.ui.dataModelerWorkingSet"
          name="%DataModeler.project.create"
          pageClass="com.isb.datamodeler.ui.views.workingsets.DataModelerWorkingSetPage"
          updaterClass="com.isb.datamodeler.ui.views.workingsets.DataModelerWorkingSetUpdater">
    </workingSet>
 </extension>
 <extension
       point="org.eclipse.core.runtime.adapters">
    <factory
          adaptableType="com.isb.datamodeler.internal.ui.views.DataModelerView"
          class="com.isb.datamodeler.internal.ui.views.DataModelerViewAdapterFactory">
       <adapter type="org.eclipse.ui.views.properties.IPropertySheetPage"/>
       <adapter
             type="org.eclipse.emf.edit.domain.IEditingDomainProvider">
       </adapter>
       <adapter
             type="org.eclipse.core.resources.IResource">
       </adapter>
    </factory>
    <factory
          adaptableType="com.isb.datamodeler.diagram.navigator.DatamodelerDomainNavigatorItem"
          class="com.isb.datamodeler.internal.ui.DatamodelerDomainNavigatorItemAdapterFactory">
       <adapter
             type="com.isb.datamodeler.ui.project.EProject">
       </adapter>
       <adapter
             type="com.isb.datamodeler.schema.ESchema">
       </adapter>
       <adapter
             type="com.isb.datamodeler.ui.diagram.EDMDiagram">
       </adapter>
       <adapter
             type="com.isb.datamodeler.tables.EPersistentTable">
       </adapter>
       <adapter
             type="org.eclipse.core.resources.IProject">
       </adapter>
       <adapter
             type="org.eclipse.emf.ecore.EObject">
       </adapter>
       <adapter
             type="org.eclipse.core.resources.IResource">
       </adapter>
    </factory>
    <factory
          adaptableType="org.eclipse.core.resources.IProject"
          class="com.isb.datamodeler.internal.ui.DatamodelerProjectAdapterFactory">
       <adapter
             type="com.isb.datamodeler.ui.project.EProject">
       </adapter>
       <adapter
             type="com.isb.datamodeler.schema.ESchema">
       </adapter>
       <adapter
             type="com.isb.datamodeler.ui.diagram.EDMDiagram">
       </adapter>
       <adapter
             type="com.isb.datamodeler.tables.EPersistentTable">
       </adapter>
       <adapter
             type="org.eclipse.core.resources.IProject">
       </adapter>
       <adapter
             type="org.eclipse.emf.ecore.EObject">
       </adapter>
       <adapter
             type="org.eclipse.core.resources.IResource">
       </adapter>
    </factory>
 </extension>
 	<extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="false"?>
  	  <wizard
           category="com.isb.Datamodeler"
           class="com.isb.datamodeler.ui.wizards.DataModelerProjectWizard"
           finalPerspective="com.isb.datamodeler.internal.ui.perspectives.DataModelerPerspective"
           icon="icons/full/obj16/datamodelerProject.png"
           id="com.isb.datamodeler.diagram.part.DatamodelerCreationWizardID"
           name="%DataModeler.project.create"
           preferredPerspectives="com.isb.datamodeler.internal.ui.perspectives.DataModelerPerspective"
           project="true">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
     <category
           id="com.isb.Datamodeler"
           name="%Datamodeler.category">
     </category>
   </extension>
   <extension
	       point="org.eclipse.ui.commands">
	    <command
	          categoryId="org.eclipse.ui.category.navigate"
	          defaultHandler="com.isb.datamodeler.internal.ui.dialogs.search.ShowTableInDiagramHandler"
	          id="com.isb.datamodeler.ui.diagram.showTableInDiagram"
	          name="%ShowTableInDiagram.name">
	    </command>
	 </extension>
	 <extension
	       point="org.eclipse.ui.bindings">
	    <key
	          commandId="com.isb.datamodeler.ui.diagram.showTableInDiagram"
	          schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
	          sequence="M1+M2+D">
	    </key>
	</extension>    
</plugin>
